<a
  class="p-[1px] rounded-xl bg-secondary-background w-fit mb-4 font-bold text-text/60 hover:text-text/80 group hover:bg-primary overflow-hidden transition-colors duration-300"
  href="https://github.com/WhyNeet"
  data-astro-prefetch
  target="_blank"
>
  <div class="rounded-xl bg-black/60 flex items-center p-3">
    <img
      src="https://avatars.githubusercontent.com/u/117515380?v=4"
      class="h-7 w-7 rounded-full mr-3"
      alt="WhyNeet's avatar."
    />
     @whyneet
    <span
      class="icon opacity-0 ml-2 w-full max-w-0 group-hover:opacity-100 group-hover:max-w-[36px] duration-300 transition-all translate-x-2 group-hover:translate-x-0 text-text/80"
      >chevron_right</span
    >
  </div>
</a>
