---
import Layout from "@/layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
  return [{ params: { lang: "TypeScript" } }, { params: { lang: "Rust" } }];
}) satisfies GetStaticPaths;

const { lang } = Astro.params;
---

<Layout title=`This Website | ${lang}`>
  <div class="font-bold" transition:name=`language-${lang}`>{lang}</div>
</Layout>
