---
import Header from "@/components/ui/Header.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/hero/Hero.astro";
import Skills from "@/components/sections/skills/Skills.astro";
import Projects from "@/components/sections/projects/Projects.astro";
---

<Layout title="This Website">
  <Header />
  <Hero />
  <div id="skills">
    <Skills />
  </div>
  <Projects />
</Layout>

<style>
  #skills {
    height: calc(var(--content-height, 0) + 200vh);
  }
</style>
