---
import Header from "@/components/ui/Header.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/hero/Hero.astro";
import Skills from "@/components/sections/skills/Skills.astro";
import Projects from "@/components/sections/projects/Projects.astro";
---

<Layout title="This Website">
  <Header />
  <Hero />
  <div class="h-[360vh] sm:h-[340vh] md:h-[300vh] lg:h-[280vh] xl:h-[260vh]">
    <Skills />
  </div>
  <Projects />
</Layout>
