---
import Header from "@/components/Header.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/hero/Hero.astro";
import Skills from "@/components/sections/skills/Skills.astro";
import Projects from "@/components/sections/projects/Projects.astro";
---

<Layout title="This Website">
  <Header />
  <Hero />
  <div class="h-[300vh]">
    <Skills />
  </div>
  <Projects />
</Layout>
