---
import SkillCard from "./SkillCard.astro";
---

<SkillCard idx={2} className="h-full w-full">
  <h2 class="font-bold text-xl mb-6">Other</h2>
  <div class="flex flex-col items-stretch gap-2">
    <div
      class="flex items-center px-4 py-3 rounded-xl border border-secondary-background bg-black/40 gap-2 flex-wrap"
    >
      <div class="font-bold">Databases</div>
      <span class="flex-1"></span>
      <div class="flex gap-2 flex-wrap">
        {
          ["MongoDB", "Postgres", "Redis"].map((db) => (
            <div class="rounded-full bg-secondary-background px-4 py-1 text-sm">
              {db}
            </div>
          ))
        }
      </div>
    </div>
    <div class="flex flex-col items-stretch gap-2">
      <div
        class="flex items-center px-4 py-3 rounded-xl border border-secondary-background bg-black/40 gap-2"
      >
        <div class="font-bold">Code editor</div>
        <span class="flex-1"></span>
        {
          ["VSCode"].map((db) => (
            <div class="rounded-full bg-secondary-background px-4 py-1 text-sm">
              {db}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</SkillCard>
