---
interface Props {
  title: string;
  description: string;
  logoExt?: string;
}

const { description, title, logoExt } = Astro.props;
---

<div
  class="w-full p-4 rounded-xl border-2 border-secondary-background flex items-center shadow-xl shadow-black/30"
>
  <img
    src=`/logos/${title}.${logoExt ?? 'png'}`
    class="h-10 w-10 mr-4"
    alt=`${title} logo`
  />
  <div>
    <div class="font-bold">
      {title}
    </div>
    <p class="text-sm text-secondary">
      {description}
    </p>
  </div>
</div>
