---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={`rounded-xl relative bg-secondary-background/70 skill-card after:h-32 after:w-32 after:rounded-full after:bg-primary/40 after:opacity-0 after:absolute after:top-[calc(var(--cursor-y,0px)-64px)] after:left-[calc(var(--cursor-x,0px)-64px)] after:pointer-events-none hover:after:opacity-100 after:blur-3xl overflow-hidden after:transition-opacity after:duration-300 after:-z-10 ${className}`}
>
  <div class="m-[2px] rounded-xl bg-black/40 p-8 h-[calc(100%-4px)]">
    <slot />
  </div>
</div>

<style>
  .skill-card {
    opacity: var(--reveal, 0);
    transform: translateY(calc(40px - max(var(--reveal, 0)) * 40px))
      scale(calc(0.95 + min(var(--reveal, 0) * 0.05, 0.05)));
    transition: all 10ms ease-in-out;
  }
</style>
