---
import SectionHeading from "@/components/ui/SectionHeading.astro";
import Other from "./Other.astro";
import ProgrammingLanguages from "./ProgrammingLanguages.astro";
import Tools from "./Tools.astro";
import Section from "@/components/ui/Section.astro";
---

<Section id="skills-section" class="sticky top-0 inset-x-0">
  <SectionHeading
    title="Can I compete?"
    description="My cat can code better."
  />
  <div class="flex gap-4 xl:flex-row flex-col-reverse">
    <div class="sm:min-w-fit flex flex-col gap-4">
      <ProgrammingLanguages />
      <Other />
    </div>
    <Tools />
  </div>
</Section>

<script>
  let cards = document.querySelectorAll(
    ".skill-card"
  ) as unknown as HTMLElement[];

  let skills: HTMLElement = null!;
  const setHeight = () => {
    skills = document.getElementById("skills-section")!;
    const skillsHeight = skills.getBoundingClientRect().height;

    document
      .getElementById("skills")!
      .style.setProperty("--content-height", skillsHeight + "px");
  };

  window.addEventListener("resize", setHeight);

  const setupCards = () => {
    cards = document.querySelectorAll(
      ".skill-card"
    ) as unknown as HTMLElement[];
    for (const card of cards) {
      card.style.setProperty(
        "--offset",
        (cards.length - +card.dataset["idx"]! - 1) * 0.2 + ""
      );
    }
  };
  window.addEventListener("scroll", () => {
    const scrollOffset = window.innerHeight / 2;
    const scroll = window.scrollY - scrollOffset;
    const percentage = scroll / (window.innerHeight * 2 - scrollOffset);

    skills.style.setProperty("--reveal", percentage + "");
  });

  document.addEventListener("mousemove", (e) => {
    cards.forEach((card) => {
      if (!card.matches(":hover")) return;

      const { x, y } = card.getBoundingClientRect();

      const cursorX = e.clientX - x;
      const cursorY = e.clientY - y;

      card.style.setProperty("--cursor-x", cursorX + "px");
      card.style.setProperty("--cursor-y", cursorY + "px");
    });
  });

  document.addEventListener("astro:page-load", () => {
    setHeight();
    setupCards();
  });
</script>
