---
import SkillCard from "./SkillCard.astro";
const tools: Record<string, { name: string; logoExt?: "png" | "svg" }[]> = {
  Containerization: [
    { name: "Docker", logoExt: "svg" },
    { name: "Kubernetes" },
  ],
  "Version control": [
    { name: "Git", logoExt: "svg" },
    { name: "GitHub", logoExt: "svg" },
  ],
  Bundlers: [
    { name: "Vite", logoExt: "svg" },
    { name: "Webpack", logoExt: "svg" },
  ],
  "Package managers": [{ name: "npm", logoExt: "svg" }, { name: "cargo" }],
  Design: [{ name: "Figma", logoExt: "svg" }],
  Testing: [{ name: "Vitest", logoExt: "svg" }],
};
---

<SkillCard idx={0} className="w-full">
  <h2 class="font-bold text-lg mb-6">Tools</h2>
  <div class="w-full grid md:grid-cols-2 2xl:grid-cols-3 gap-y-8 gap-x-4">
    {
      Object.entries(tools).map(([category, tools]) => (
        <div>
          <div class="text-secondary text-sm mb-2">{category}</div>
          <div class="flex gap-2 flex-col items-stretch">
            {tools.map((tool) => (
              <div class="rounded-xl p-4 border border-secondary-background bg-black/50 flex items-center group relative transition-colors">
                <div class="h-7 w-7 flex items-center justify-center mr-4">
                  <img
                    src={`/logos/${tool.name}.${tool.logoExt ?? "png"}`}
                    class="h-7"
                  />
                </div>
                {tool.name}
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</SkillCard>
