---
import { ViewTransitions } from "astro:transitions";

import "@fontsource-variable/space-grotesk";
import Loading from "@/components/Loading.astro";
import Styling from "@/components/Styling.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body class="min-h-screen w-screen text-text bg-background antialiased">
    <Loading />
    <slot />
    <Styling />

    <script>
      document.addEventListener("astro:before-preparation", () => {
        document.body.classList.add("loading");
      });
      document.addEventListener("astro:after-preparation", () => {
        document.body.classList.remove("loading");
      });
    </script>

    <script>
      const setScroll = () =>
        document.documentElement.style.setProperty(
          "--scroll",
          window.scrollY.toString()
        );

      document.addEventListener("astro:page-load", setScroll);

      window.addEventListener("scroll", setScroll);
    </script>
  </body>
</html>
