---
import SectionHeading from "@/components/SectionHeading.astro";
import ProjectsList from "./ProjectsList";

import type { Repo } from "@/types";
import { baseurl } from "@/lib/baseUrl";

const data = await fetch(`${baseurl()}/api/repos.json`);
const repos: { repos: Repo[] } = await data.json();
---

<section class="pb-32 px-12">
  <SectionHeading
    title="My projects"
    description="My Code Zoo: Where (mostly) functional projects roam free."
  />
  <ProjectsList repos={repos.repos} />
</section>
