---
import SectionHeading from "@/components/ui/SectionHeading.astro";
import { ProjectsList } from "./ProjectsList/index";
import Section from "@/components/ui/Section.astro";
import { getRepos } from "@/lib/api/repos";

const repos = await getRepos();
---

<Section class="pb-16">
  <SectionHeading
    title="My projects"
    description="My Code Zoo: Where (mostly) functional projects roam free."
  />
  <ProjectsList
    repos={repos.map((repo) => ({
      ...repo,
      topics: repo.repositoryTopics.nodes.map(({ topic: { name } }) => name),
    }))}
    client:idle
  />
</Section>
