---
interface Props {
  class?: string;
  id?: string;
}

const { class: className, id } = Astro.props;
---

<section id={id} class={`pt-24 sm:pt-32 px-6 sm:px-12 ${className}`}>
  <slot />
</section>
